@font-face {
    font-family: open-sans;
    src: url(./resources/font/opensans-reg.ttf);
}
@font-face {
    font-family: inconsolata;
    src: url(./resources/font/inconsolata-reg.ttf);
}
@font-face {
    font-family: lato;
    src: url(./resources/font/lato-reg.ttf);
}
@font-face {
    font-family: futura;
    src: url(./resources/font/futura-light.ttf);
}
@font-face {
    font-family: titillium;
    src: url(./resources/font/titillium-reg.ttf);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #fcfcfc; */
    /* background-color: #f5f6fa; */
    background-color: #FAF9F5;
}

#main {
    background-color: #FAF9F5;
    width: 80%;
    box-sizing: border-box;
    padding: .5% 3% 5% 3%;
    /* margin-top: 1%;
    margin-bottom: 1.5%; */

    border-radius: .5%;
    
    h1 {
        font-family: futura;
        font-size: 2.5rem;
    }
    h2 {
        font-family: inconsolata;
        font-size: 1.75rem;
    }
    li {
        font-family: lato;
        max-width: 90%;
    }
    a {
        color: #99582a;
    }
    a:hover {
        color: #b08968;
    }
    img {
        pointer-events: none;
        user-select: none;
        width: 100%;
        height: 100%;
        border-radius: 1%;
    }
}

#info {
    p {
        font-family: lato;
    }
}

#sum {
    display: inline-flex;
    gap: 2.5%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

#desc {
    width: 100%;
    height: 100%;
    background-color: #abb0a570;
    border-radius: 1%;
    box-sizing: border-box;
    padding: 1% 2% 2% 2%;
    p {
        font-family: open-sans;
    }
}

#detail {
    p {
        font-family: open-sans;
    }
}

.highlightReel {
    /* pointer-events: none;
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: 1%; */
}

.example {
    width: 100%;
    box-sizing: border-box;
    padding: 1% 12% 2% 12%;
    display: flex;
    gap: 2%;
    justify-content: center;
    flex-wrap: nowrap;

    img {
        max-height: 50%;
    }
}
.example-caption {
    margin-top: -1%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    figcaption {
        background-color: #abb0a546;
        font-family: inconsolata;
        padding: 1% 1.5% 1% 1%;
    }
}
.bar {
    background-color: #b08968;
    width: 1%;
}

.projectcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2%;
    column-gap: 1%;
    width: 100%;
    margin-bottom: 5%;
}
.projectcapsule {
    position: relative;
    align-items: center;
    box-sizing: border-box;
    padding: 2% 3% 2% 2%;
    background-color: #abb0a570;
    display: flex;
    justify-content: space-between;
    gap: 1%;
    border-color: #5C4033;
    border-style: solid;
    border-width: .25rem;
    border-radius: 16px;
}
.projectcapsule:hover {
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    transition: box-shadow .1s ease;
}
.projectcapsule .jump {
    left: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.projectcapsule img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 33% !important;
    border-radius: inherit !important;
}
.projdesc {
    width: 66%;
    height: 100%;
    flex-grow: 2;
    flex-basis: auto;
    flex-shrink: 0;
}

footer {
    background-color: #898b87e0;
    width: 100%;
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .25% 1% .25% 1%;
    img {
        width: 100%;
        height: 100%;
    }
    p {
        font-family: titillium;
    }
}

.socials {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15%;
    max-width: 8%;
    img:hover{
        opacity: 50%;
        transition: opacity .2s ease;
    }
}

.navbar {
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navtitle {
}

.navbuttons {
    display: grid;
    grid-auto-flow: column;
    flex-basis: auto; /*This might work!!!*/
}
.navbuttons a, .dropbtn {
    text-decoration: none;
    border: none;
    
    font-family: futura;
    font-size: 1.75rem;

    background-color: black;
    color: white;

    padding: 10%;

}
.navbuttons a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown {
    /* position: relative; */
    display: inline-block;
}
.dropbtn {
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    a {
        display: block;
        /* text-align: center; */
        background-color: gray;
        text-decoration: none;
    }
    a:hover {
        background-color: lightblue;
    }
}
.dropdown:hover .dropdown-content {
    display: block;
}
